.more-options {
  position: absolute;
  display: flex;
  height: 100%;
  bottom: 100%;
  right: var(--controlls-width);
  animation: moreOptionsArrive ;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.more-options__button {
  width: 60px;
  border: none;
  background-color:#fff;
  color: var(--secondary-color);
}


@keyframes moreOptionsArrive {
  to {
    bottom: 0;
  }
}