.registration-completed{
  text-align: center;
  width: 90vw;
}

.registration-completed__icon{
  color: var(--button_fontColor);
  width: 60px;
  height: 60px;
  padding: .5em;
  border-radius: 50%;
  font-size: 2rem;
  background-color: var(--primary_color);
}