.modal{
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  z-index: 99999;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.modal__close{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
}

.modal__container{
  position: relative;
  z-index: 999999;
  background-color: #fff;
  width: 90vw;
}

.modal__header{
  text-align: center;
  padding: 1em;
}

.modal__icon{
  margin: auto;
  display: grid;
  place-content: center;
  color: var(--secondary-color);
  font-size: 2rem;
  border-radius: 50%;
}