.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100vw;
  justify-content: space-between;
  height: var(--header-height);
  background-color: var(--secondary-color);
  color: #fff;
}