.delete__title {
  margin: 0;
  padding: 1em;
  text-align: center;
}

.delete__description {
  text-align: center;
  opacity: .9;
  margin: 0;
  padding: 0 .5em;
  overflow-wrap: break-word;

}

.delete__footer {
  padding: 1em 0;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  justify-content: center;
  gap: 1em;
}

.delete__footer button {
  border: none;
  border-radius: 5px;
  padding: .5em;
  position: relative;
  display: block;
}

.delete__delete {
  background-color: var(--primary_color);
  color: var(--button_fontColor);
}