* {
  box-sizing: border-box;
}

:root {
  --header-height: 70px;
  --addTodo-height: 100px;

  --bgColor: #f1f1f1;
  --primary_color: #961f05;
  --header_bgColor: #fff;
  --todo_bgColor: #fff;
  --font_mainColor: #000;
  --button_fontColor: #fff;
  --moda_bgColor: #fff;

  --bgColor: #333;
  --header_bgColor: #222;
  --primary_color: #961f05;
  --todo_bgColor: #555;
  --font_mainColor: #fff;
  --button_fontColor: #fff;
  --moda_bgColor: #333;
}

@font-face {
  font-family: Lobster-Regular;
  src: url('../public/fonts/Lobster-Regular.ttf');
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  color: var(--font_mainColor);
  background-color: var(--bgColor);
  font-size: calc(14px + 1vmin);
}

a {
  color: var(--font_mainColor);
}

img {
  max-width: 100%;
}

input:focus {
  outline: none;
}


button:hover {
  cursor: pointer;
}

input {
  width: 100%;
  position: relative;
  border: none;
  border-bottom: 1px solid var(--primary_color);
  background-color: transparent;
  line-height: 2rem;
  color: var(--font_mainColor);
}