* {
  box-sizing: border-box;
}

:root {
  --header-height: 70px;
  --addTodo-height: 100px;
  /* --main-color: #FF7414;
  --secondary-color: #DE3B12; */
  --main-color: #F7846A;
  --secondary-color: #75220F;
  
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  color: #000;
  background-color: var(--main-color);
  font-size: calc(18px + 1vmin);
}

a {
  color: #000;
}

img {
  max-width: 100%;
}

input:focus{
  outline: none;
}