* {
  box-sizing: border-box;
}

:root {
  --header-height: 70px;
  --addTodo-height: 100px;
}

@font-face {
  font-family: Lobster-Regular;
  src: url('../public/fonts/Lobster-Regular.ttf');
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  color: var(--font_mainColor);
  background-color: var(--bgColor);
  font-size: calc(14px + 1vmin);
}

a {
  color: var(--font_mainColor);
}

img {
  max-width: 100%;
}

input:focus {
  outline: none;
}


button:hover {
  cursor: pointer;
}

input {
  width: 100%;
  position: relative;
  border: none;
  border-bottom: 1px solid var(--primary_color);
  background-color: transparent;
  line-height: 2rem;
  color: var(--font_mainColor);
}